<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>leaftaps</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>18/12/22 20:29:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatLead.createLead()[pri:0, instance:com.yella.testng.tests.CreatLead@7740a2]">createLead</td> 
  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/12/22 20:29:42</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.deleteLead()[pri:0, instance:com.yella.testng.tests.DeleteLead@17b4f4c]">deleteLead</td> 
  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="85b2fe">  <td>18/12/22 20:29:42</td>   <td>-47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.report()[pri:0, instance:com.yella.testng.tests.DeleteLead@17b4f4c]">&gt;&gt;report</td> 
<td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="85b2fe">  <td>18/12/22 20:29:41</td>   <td>-250</td> <td title="&gt;&gt;Report.startReport()[pri:0, instance:com.yella.testng.tests.DeleteLead@17b4f4c]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
</table>
